<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body class="container-fluid">

    {% include "partials/notifications.html" %}
    {% include "partials/nav_bar.html" %}

    <!-- Insert graph HTML safely -->  
    {{ graph_html|safe }}
    
    {% if forecast_weight_by_date %}
        {% include "partials/forecast_weight_by_date_overview.html" %}
        {% include "partials/form_date.html" %}
    {% endif %}

    {% if forecast_date_by_weight %}
        {% include "partials/forecast_date_by_weight_overview.html" %}
        {% include "partials/form_weight.html" %}
    {% endif %}

</body>
</html>
