<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calorie Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    
<body class="container py-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="mt-3">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    <h1 class="mb-4">Import CSV</h1>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <h6>Weight file</h6>
        <div class="mb-3">
            <input type="file" name="weight_file" class="form-control" accept=".csv" required>
        </div>

        <h6>Calories file</h6>
        <div class="mb-3">
            <input type="file" name="calorie_file" class="form-control" accept=".csv" required>
        </div>
        <button class="btn btn-success">Upload CSV's</button>
    </form>



    <hr class="my-4">
    <h1 class="mb-4">Charts</h1>
    <div class="col-12">
        <a href="/simple_chart" class="btn btn-secondary">Daily</a>
        <a href="/complex_chart" class="btn btn-secondary">Daily Trends</a>
        <a href="/avg_chart" class="btn btn-secondary">Weekly</a>
    </div>


    <hr class="my-4">
    <h1 class="mb-4">Information</h1>
    <div class="col-12">
        <p>Heaviest weight  : {{ weight_data["heaviest_weight"] }} lbs</p>
        <p>Current weight  : {{ weight_data["current_weight"] }} lbs</p>
        <p>Weight Lost   : {{ weight_data["total_weight_lost"] }} lbs</p>
        <p>Last Data Load   : {{ weight_data["last_date"] }}</p>
    </div>


    <hr class="my-4">
    <h3>Data</h3>
    <a href="/data" class="btn btn-secondary">Data</a>


    <script>
        // Set default value of the date input to today
        document.addEventListener("DOMContentLoaded", function () {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('dateInput').value = today;
        });
    </script>
</body>
</html>
