<!DOCTYPE html>
<html lang="en">


{% include "partials/head.html" %}
    

<body class="container py-4">

    
    {% include "partials/notifications.html" %}
    {% include "partials/nav_bar.html" %}
  

    <h1 class="mb-4">Information</h1>
    <div class="col-12">
        <p>Heaviest weight  : {{ weight_data["heaviest_weight"] }} lbs</p>
        <p>Current weight  : {{ weight_data["current_weight"] }} lbs</p>
        <p>Weight Lost   : {{ weight_data["total_weight_lost"] }} lbs</p>
        <p>Last Data Load   : {{ weight_data["last_date"] }}</p>
    </div>


    <hr class="my-4">
    <h1 class="mb-4">Charts</h1>
    <div class="col-12">
        <a href="/daily_chart" class="btn btn-secondary">Daily</a>
        <a href="/daily_trend_chart" class="btn btn-secondary">Daily Trends</a>
        <a href="/weekly_avg_chart" class="btn btn-secondary">Weekly Average</a>
    </div>


</body>
</html>
