<div class="container mt-5">
    <form method="POST" enctype="multipart/form-data" action="/forecast_date_by_weight">
        <div class="row mb-3">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label for="targetWeight" class="form-label">Target Weight (lbs)</label>
                <input type="number" class="form-control" id="targetWeight" name="target_weight" min="50" max="{{ min_weight }}" step="1" required>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</div>